{% extends "layout-no-header.html" %}

{% block pageTitle %}
Football Policing Minerva replacement
{% endblock %}
{% block beforeContent %}
<!-- <a href="." class="govuk-back-link">Back</a> -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l mrp-section-header">Page heading</h1>

    <article style="display: flex; justify-content: space-around;">


      <div class="govuk-grid-column-one-third mrp-card">
        <h2 class="govuk-heading-s"><a href="#">Oranges</a></h2>
        <p class="govuk-body">Satsumas, Bergamot, Blood and Tangerine. Satsumas,
          Bergamot, Blood and Tangerine.</p>
      </div>

      <div
        class="govuk-grid-column-one-third govuk-!-margin-right-3 govuk-!-margin-left-3 mrp-card">
        <h2 class="govuk-heading-s"> <a href="#">Apples</a>
        </h2>

        <p class="govuk-body">Pink Lady, Granny Smith, Braeburn and Golden
          Delicious. Pink Lady, Granny Smith, Braeburn and Golden
          Delicious</p>
      </div>



      <div class="govuk-grid-column-one-third mrp-card">
        <h2 class="govuk-heading-s"><a href="#">Pears</a>
        </h2>
        <p class="govuk-body">Conference, Bartlett, Bosc and Seckel. Conference,
          Bartlett, Bosc and Seckel. Conference, Bartlett, Bosc and Seckel.</p>
      </div>

    </article>

    <article class="govuk-!-margin-top-5"
      style="display: flex; justify-content: space-around;">


      <div class="govuk-grid-column-one-third mrp-card">
        <h2 class="govuk-heading-s"><a href="#">Grapes</a></h2>
        <p class="govuk-body">Malbec, Merlot, Grenache and Chardonnay. Malbec,
          Merlot, Grenache and Chardonnay.</p>
      </div>

      <div
        class="govuk-grid-column-one-third govuk-!-margin-right-3 govuk-!-margin-left-3 mrp-card">
        <h2 class="govuk-heading-s"><a href="#">Pears</a>
        </h2>
        <p class="govuk-body">Conference, Bartlett, Bosc and Seckel. onference,
          Bartlett, Bosc and Seckel. </p>
      </div>



      <div class="govuk-grid-column-one-third mrp-card">
        <h2 class="govuk-heading-s"> <a href="#">Apples</a>
        </h2>

        <p class="govuk-body">Pink Lady, Granny Smith, Braeburn and Golden
          Delicious. Conference, Bartlett, Bosc and Seckel. </p>
      </div>
    </article>

    <!--closing div for row-->
  </div>
</div>










{% endblock %}