{% extends "layout.html" %}

{% block pageTitle %}
PPPT component library
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page heading XL</h1>
        <p class="govuk-body-l">Large body intro</p>
        <p>Block of information to communicate any important information for
          this service. This can be a as long as you need it to be or in some
          cases
          not needed at all.</p>
        <p>Bacon ipsum dolor amet drumstick pork chop ribeye, jowl porchetta
          flank biltong turkey shank. Tongue kevin flank, ground round pork
          turducken tri-tip short loin brisket pork loin biltong hamburger
          alcatra boudin jerky. Spare ribs picanha alcatra, prosciutto jowl
          buffalo tri-tip fatback bacon flank ground round drumstick doner.
          Bacon cupim filet mignon turducken, venison rump jerky drumstick spare
          ribs meatloaf bresaola pastrami boudin. Meatloaf tri-tip picanha
          pancetta. Sausage pork fatback tongue swine andouille meatball.</p>
        <p>
          Short ribs alcatra pancetta, fatback biltong chislic turkey andouille.
          Chislic beef kevin prosciutto, leberkas pork belly pork chop strip
          steak buffalo cupim ham hock tongue pancetta pastrami. Filet mignon
          doner landjaeger kielbasa tongue tenderloin. Doner cupim drumstick,
          jerky kevin ground round ham. Short ribs jerky pig, landjaeger ham
          brisket tongue sirloin cow. Turducken pork belly meatloaf chicken
          spare ribs.</p>
        <p>
          Short ribs alcatra short loin tail pancetta shank ribeye ground round
          tongue meatloaf fatback. Bacon pork tail hamburger, salami picanha
          kevin. Pig ball tip biltong, flank picanha short ribs corned beef
          sausage buffalo jowl tongue. Short loin porchetta brisket strip steak.
          Capicola turducken pastrami boudin chislic. Beef ribs chuck cupim pork
          loin bacon burgdoggen t-bone filet mignon ribeye turducken shank
          pastrami tongue ham hock cow. Brisket pork chop bresaola, bacon
          leberkas capicola tongue ribeye meatball pork belly.</p>
      </div>

      <!--cards to link to managing records-->

      <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-m">Sidebar heading</h2>

        <div class="mrp-card" style="margin-bottom:40px;">
          <h3 class="govuk-heading-m mrp-navy">Subsection heading</h3>
          <p>Short loin porchetta brisket strip steak.
            Capicola turducken pastrami boudin chislic. Beef ribs chuck cupim
            pork
            loin bacon burgdoggen t-bone filet mignon</p>
          <a href="#">View link</a>

        </div>
        <div class="mrp-card" style="margin-bottom:40px;">
          <h3 class="govuk-heading-m mrp-navy">Subsection heading</h3>
          <p>Short loin porchetta brisket strip steak.
            Capicola turducken pastrami boudin chislic. Beef ribs chuck cupim
            pork
            loin bacon burgdoggen t-bone filet mignon</p>
          <a href="#">View link</a>

        </div>

      </div>
    </div>
    <!--closing div for row-->
  </div>






  {% endblock %}