{% extends "layout.html" %}

{% block pageTitle %}
PPPT component library
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Report an incident</span>

    <form action="no-action" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading mrp-navy">
              Where did the incident happen?
            </h1>
          </legend>
          <!-- <div id="waste-hint" class="govuk-hint">
          Select all that apply.
        </div> -->
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="club-A"
                name="melchester" type="checkbox" value="club-A">
              <label class="govuk-label govuk-checkboxes__label" for="club-A">
                Indoors
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="club-B"
                name="rotherham" type="checkbox" value="club-B">
              <label class="govuk-label govuk-checkboxes__label" for="club-B">
                Outdoors
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="club-C"
                name="third-team" type="checkbox" value="club-C">
              <label class="govuk-label govuk-checkboxes__label" for="club-C">
                On private premises
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="local-person"
                name="local-person" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label"
                for="local-person">
                Other
              </label>
              <div class="govuk-radios govuk-radios--conditional"
                data-module="govuk-radios">

                <div class="govuk-radios__conditional govuk-radios__conditional govuk-radios__conditional--hidden
                " id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="club-A-underage-number">
                      Give an accurate description of the location
                    </label>
                    <input class="govuk-input" id="contact-by-email"
                      name="club-A-underage-number" type="number"></div>
                </div>
              </div>
            </div>
          </div>

        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <a style="margin: 11px 0 0 40px;position: absolute;" class="govuk-link"
          href="#">Skip</a>
      </div>
    </form>
  </div>

  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-m">Sidebar heading</h2>

    <div class="mrp-card" style="margin-bottom:40px;">
      <h3 class="govuk-heading-m mrp-navy">Subsection heading</h3>
      <p>Short loin porchetta brisket strip steak.
        Capicola turducken pastrami boudin chislic. Beef ribs chuck cupim
        pork
        loin bacon burgdoggen t-bone filet mignon</p>
    </div>
  </div>
</div>

{% endblock %}