{% extends "layout.html" %}

{% block pageTitle %}
PPPT component library
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Service name</h1>
        <p class="govuk-body-l">If required a first line description explaining
          the service</p>
        <p>Block of information to communicate any important information for
          this service. This can be a as long as you need it to be or in some
          cases
          not needed at all.</p>
        <p>&nbsp</p>

        <div class="mrp-card"
          style="margin:0 40px 40px 0;float:left;width:43%;">
          <h3 class="govuk-heading-m mrp-navy">Secondary heading</h3>
          <p>Find contact details for others workng in football policing.</p>
          <a href="#">Link to section</a>

        </div>
        <div class="mrp-card" style="margin-bottom:40px;float:left;width:43%;">
          <h3 class="govuk-heading-m mrp-navy">Secondary heading</h3>
          <p>Look at up-to-date documents and resources related to football
            policing.</p>

          <a href="#">Link to section</a>

        </div>
      </div>


      <!--cards to link to managing records-->

      <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-m">Sidebar</h2>

        <div class="mrp-card" style="margin-bottom:40px;">
          <h3 class="govuk-heading-m mrp-navy">Subsection heading</h3>
          <a href="#">View link</a>

        </div>
        <div class="mrp-card" style="margin-bottom:40px;">
          <h3 class="govuk-heading-m mrp-navy">Subsection heading</h3>
          <a href="#">View link</a>

        </div>
        <div class="mrp-card" style="margin-bottom:40px;">
          <h3 class="govuk-heading-m mrp-navy">Subsection heading</h3>
          <a href="#">View link</a>

        </div>

      </div>

      <!--closing div for row-->
    </div>






    {% endblock %}