{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}






{% block header %}
<!-- Header HTML -->
<header>
  <div class="wrapper-header">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-sixteen_grid">
        <div class="row">
          <div class="eight columns">
            <div class="header-title">
              <a href="/" class="header-name">
                <h3 class="govuk-heading-l">Service name</h3>
              </a>
              <p>Tag line</p>
              <a class="govuk-header__link betaHeader" href="#">
                <strong class="govuk-tag">BETA</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-full govuk-sixteen_grid">
        <div class="row border-top">
          <div class="twelve columns">
            <nav>
              <ul id="navigation" class="govuk-header__navigation " aria-label="Navigation menu">
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="#">
                   Navigation item 1
                  </a>
                </li>
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="#">
                    Navigation item 2
                  </a>
                </li>
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="#">
                    Navigation item 3
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}


{% block content %}


<div class="govuk-grid-row HO-uk-margin-top-5 HO-uk-margin-bottom-1">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../examples.html">Examples</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Page with navigation
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-xxl">
     Page with navigation
    
    </h1>
  </div>
</div>



<hr class="HO-uk-margin-top-7 HO-uk-margin-bottom-7" />


{% endblock %}
