{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Header HTML -->
<header>
  <div class="wrapper-header">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-sixteen_grid">
        <div class="row">
          <div class="eight columns">
            <div class="header-title">
              <a href="/" class="header-name">
                <h3 class="govuk-heading-l">Home Office</h3>
              </a>
              <p>Prototype Kit</p>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-full govuk-sixteen_grid">
        <div class="row border-top">
          <div class="twelve columns">
            <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
            <nav>
              <ul id="navigation" class="govuk-header__navigation " aria-label="Navigation menu">
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link " href="/">
                   Get started
                  </a>
                </li>
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link govuk-header__navigation-item--active" href="/history/search.html">
                    Examples
                  </a>
                </li>
                <li class="govuk-header__navigation-item">
                  <a class="govuk-header__link" href="/history/tasks.html">
                    Resources
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="four columns">

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}


{% block content %}


<div class="govuk-grid-row HO-uk-margin-top-5 HO-uk-margin-bottom-1">
  
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xxl">
      Examples
    </h1>
    <p class="govuk-large">A collection of page templates and examples to be used in prototypes.</p>
    <h1 class="govuk-heading-l">
      Page templates
    </h1>
    <ul>
      <li><a href="templates/page-with-navigation.html">Page with navigation</a></li>
      <li><a href="templates/page-with-sign-in-out">Page with sign in / sign out</a></li>
  </ul>
  </div>
</div>

<!-- <hr class="HO-uk-margin-top-5 HO-uk-margin-bottom-5" /> -->






<hr class="HO-uk-margin-top-7 HO-uk-margin-bottom-7" />


{% endblock %}
