{% extends "layout.html" %}

{% block pageTitle %}
PPPT Prototype Kit & Component Library
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-m">Policing and Public Protection Technology
    </span>
    <h1 class="govuk-heading-xl">
      PPPT Component Library
    </h1>
    <p></p>
    <p class="govuk-body-l">A single source of truth for user interface
      components and interaction patterns across
      policing services</p>
    <p>This site is aimed at interaction designers to help with speedy setup of
      on brand PPPT prototypes. To get started as quick as possible take a copy
      of this repo and use it to start creating your prototypes. It is built
      upon the Home Office internal Design System which is in term built upon
      <a href="https://design-system.service.gov.uk/">GDS's Design System.</a>
    </p>

    <h3 class="govuk-heading-m">Templates</h3>

    <h3 class="govuk-heading-s">Basic pages</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Example standard <a href="./templates/example-internal-page">internal
          page.</a>
      </li>
      <li>Example standard internal
        page with <a href="./templates/example-internal-inputs">input
          elements.</a>
      </li>
      <li>Example rudimentary <a href="./templates/sign-in-page">sign in
          page.</a>
      </li>
      <li>Example sectional <a href="./templates/example-card-grid">grid
          page.</a>
      </li>
      <li>Example home or <a href="./templates/example-homepage">dashboard
          page.</a>
      </li>

    </ul>

    <h3 class="govuk-heading-m">Components</h3>


    <ul class="govuk-list govuk-list--bullet">
      <li><a href="./components/nav-header">Navigation header</a>
      </li>
      <li><a href="./components/cards">Cards</a>
      </li>
      <li><a href="./components/tab-navigation">Tabs</a>
      </li>
      <li><a href="./components/tags">Tags</a>
      </li>


    </ul>

    <h3 class="govuk-heading-m">Patterns</h3>


    <ul class="govuk-list govuk-list--bullet">
      <li>Checking for <a href="#">duplicate records</a> before creating a new
        one
      </li>
      <li>Displaying a <a href="#">record</a>
      </li>
      <li>How to input <a href="#">PNC number</a>
      </li>

    </ul>

  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s">Note to developers</h2>

    <p style="font-size:1.6rem;">
      This prototype kit is an extension of the base <a
        href="https://design.homeoffice.gov.uk/">Home Office prototyping
        kit.</a>
      All code is not production code. The information held here is just for
      guidance to designers, business analysts and developers to understand the
      predefined components available to teams in PPPT. </p>
    <p style="font-size:1.6rem;"">There is
      <b>no real data</b> or any integrations with real data. This site is not connected to any APIs
      or sensitive
      information policing information. Everything here is for demonstration only.</p> <br>
  </div>
</div>

{% endblock %}